* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.GSTreturn {
  width: 100%;
  height: auto;
}

.GSTreturn-img {
  height: 280px;
  position: relative;
  margin-bottom: 4em;
}

.GSTreturn-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.GSTreturn-img h2 {
  position: absolute;
  bottom: 25%;
  left: 25%;
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
}

.GSTreturntext{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.GSTreturntext h2{
    font-size: 2em;
}

.GSTreturntext p{
    font-size: 1.08em;
    padding: 0.5em 0 1em 0;
    line-height: 25px;
    color: grey;
    text-align: justify;
}

.GSTreturntext li{
    line-height: 35px;
    font-size: 1em;
    color: #000;
}

.GSTreturntext strong{
    color: #000;
}